@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap');
  
.loading {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(14,14,14);
}
  
.loading::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 100%;
  
    background-image: url("../icons/svg-loaders/rings.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4.44rem;
}


.logging::after {
    content: "";
    background-image: url("../icons/svg-loaders/rings.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main {
    
    background-color: rgba(255, 255, 255, 0);
    
    width: 100%;
    height: 100vh;
    
    display: flex;
}
    
.left-side {
    background-color: rgb(255, 255, 255);

    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
    
.card {
    font-family: 'Heebo', sans-serif;
    width: 23rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;
}

.card div:first-child {
    font-size: 1.25rem;
    font-weight:500;
    margin-bottom: 1.56rem;
}

.card div:nth-child(2) {
    align-self: flex-start;
    font-size: 0.81rem;
    margin-bottom: 1.87rem; 
}

.form {
    border-bottom: 1px solid rgb(92, 91, 91);
    margin-bottom: 0.94rem;
    width: 100%;
    font-size: 0.94rem;
    padding-bottom: 0.44rem;
}

.form input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(92, 91, 91);
    margin-bottom: 0.94rem;
    width: 100%;
    font-size: 0.94rem;
    padding-bottom: 0.44rem;
}

.form button {
    color: white;
    background-color: rgb(17,23,39);
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-top: 0.62rem;
    padding-bottom: 0.62rem;
    border-radius: 0.31rem;
    
    margin-top: 1.56rem;
}
    
.failedLogin::after {
    content: "username or password invalid";
    font-size: 0.81rem;
    color: red;

    position: absolute;
}

.toRegister {
    font-size: 0.75rem;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.62rem;
}
    
.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('https://64.media.tumblr.com/0049b7745b9013ee51be02c1bd4230d6/tumblr_njzwzqEnZv1u7j6e0o1_1280.jpg');
    background-size: cover;
}

.notPass::after {
    content: "password must be the same";
    font-size: 0.81rem;
    color: red;
}
  
.tooShort::after {
    content: "password too short";
    font-size: 0.81rem;
    color: red;
}
  
.invalidUser::after {
    content: "invalid user";
    font-size: 0.81rem;
    color: red;
    position: relative;
    top: -5px;
}


@media (max-width: 1600px) {

}
  
@media (max-width: 1366px) {

}
  
@media (max-width: 912px) and (orientation: portrait) {

}
  
@media (max-width: 500px) and (orientation: portrait) {
    .right-side {
        display: none;
        margin: 0px;
        padding: 0px;
    }
    
    .left-side {
        width: 100%;
        height: 100%;
    }

    
}
  