@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

/* GENERAL */

.p {
  cursor: pointer;
}

/* MAIN */
.main {
  height: 100vh;
  width: 100vw;

  display: flex;
}

/* MAIN SIDEBAR*/

.main-sidebar {
  background-color: rgb(27,27,27);

  min-width: 72px;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* overflow:scroll; */
}

.logos-wrapper {
  overflow: auto;

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.logos-wrapper::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.ms-logo {

  color: white;
  font-weight:700;
  font-size: 23px;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 60px;

  font-family: 'Lexend Deca', sans-serif;
}

.ms-ai-logos {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.ms-ai-logo, .ms-add-ai {
  background-color: rgb(180, 216, 138);
  background-color: rgb(210, 210, 210);
  /* background-color: rgb(153,183,221);
  background-color: rgb(233, 135, 103); */
  
  border-radius: 17px;

  width: 55px;
  height: 55px;

  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Lexend Deca', sans-serif;
}

.ms-add-ai {
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 27px;
  font-family:'Times New Roman', Times, serif;
}


/* SECOND SIDEBAR*/

.topic-opt {
  display: flex;
  gap: 15px;
}

.topic-wrapper {
  /* outline: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  overflow: auto;

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.topic-wrapper::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.deleteAlert {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.518);
  outline-offset: -1px;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0px;
  padding: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.deleteAlertContainer {
  background-color: white;
  padding: 25px;
  color: black;
  font-size: 20px;
  border-radius: 15px;
  width: 300px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.deleteAlertButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-size: 17px;
  width: 100%;
}

.deleteAlertButtons button {
  all: unset;
  cursor: pointer;
}

.ss-ai-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ss-ai-op {
  position: absolute;
  right: 15px;

  display: flex;
  gap: 15px;
}

.ss-ai-container {
  outline-offset: -1px;
  width: 100%;
}


.second-sidebar {
  color: white;
  background-color: rgb(16,16,20);

  min-width: 400px;

  /* padding-top: 27px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  /* position: relative; */

  /* overflow: hidden; */

  font-family: 'Lexend Deca', sans-serif;
}

.ss-add {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  position: relative;
}

.ss-add-header {
  width: 90%;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
}
.ss-add-title {
  font-size: 19px;
}

.ss-add-button {
  all: unset;
  border: 1px solid rgba(196, 196, 196, 0.702);
  width: 26px;
  height: 26px;
  border-radius: 50px;

  font-size: 17px;
  font-weight: bolder;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family:'Times New Roman', Times, serif;
  cursor: pointer;
}

.ss-form {
  display: flex;
  width: 93%;

  border-radius: 7px;
  border: 1px solid rgba(245, 245, 245, 0.268);
  position: relative;

  overflow: hidden;

  margin-bottom: 25px;
}
.ss-form input {
  all: unset;
  background-color: white;
  height: 44px;
  width: 100%;
  padding-left: 15px;
  color: rgba(0, 0, 0, 0.71);
  font-size: 17px;
}
.ss-form button {
  all: unset;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 15px;

  cursor: pointer;
}

.ss-ai-title {
  font-size: 23px;
  font-weight: bolder;

  min-height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.topic-container {
  background-color: rgb(27,27,27);
  width: 93%;
  border-radius: 7px;
  display: flex;
  align-items: center;

  /* position: relative; */
}

.ss-ai-topic {
  background-color: rgb(27,27,27);
  border-radius: 10px;

  width: 90%;
  height: 45px;

  display: flex;
  align-items: center;

  padding-left: 10px;
  font-weight: bolder;

}



/* MAIN CONTENT*/

.main-content {
  display: flex;
  flex-direction: column;

  position: relative; 

  width: 100%; /* ??? */

  background-color: rgb(242,238,233);
}

/* MAIN CONTENT MENU*/

.mc-header {
  outline-offset: -1px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Lexend Deca', sans-serif;

  /* padding-top: 23px;
  padding-bottom: 23px; */

  min-height: 60px;
  font-weight: bolder;
}

.mc-header-title {
  font-size: 23px;
}


/* MAIN CONTENT GRID*/

.mc-grid {
  /* min-height: calc(100vh - 70px); */
  column-gap: 15px;
  padding: 15px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;

  overflow: auto;
}

.wrapper {
  overflow: auto;

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  padding-left: 15px;
  padding-right: 15px;
}

.wrapper::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

/* PROMPT CARD*/

.prompt {
  background: rgb(255, 255, 255);
  margin-bottom: 15px;
  border-radius: 12px;
  padding: 25px;
  padding-bottom: 0px;
  overflow: hidden;
  white-space: pre-line;

  font-family: 'DM Sans', sans-serif;

  min-width: 350px;
  max-width: 465px;


  font-size: 19px;
  color: rgba(49, 49, 49, 0.862);

}

.prompt-title {
  font-size: 17px;
  font-weight: bolder;
  margin-bottom: 15px;
  font-family: 'Lexend Deca', sans-serif;
}

.prompt-content {
  
}

.prompt-text {
  padding-bottom: 15px;
}

.opt-mode {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.342);
  top: 0px;
  left: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.prompt-options {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;
  gap: 15px;
}

/* GENERIC MENU */

.menu-panel {
  font-family: 'Lexend Deca', sans-serif;
  z-index: 2;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 0px;
}

.mp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 19px;
}

.mp-header-title {
  font-size: 21px;
}
.mp-header-close {
  font-size: 21px;
}

.mp-stack-header {
  display: flex;
  justify-content: space-between;
}

.mp-stack-header button {
  all: unset;
}

.menu-title {
  margin-bottom: 5px;
  font-size: 19px;
}

.menu-panel-form {
  display: flex;
  flex-direction: column;
}

.menu-panel-form input {
  all: unset;
  margin-bottom: 10px;

  border: 1px solid rgba(165, 165, 165, 0.742);
  border-radius: 10px;

  padding: 10px;

  width: 400px;
  height: 20px;
}

.menu-panel-form textarea {
  all: unset;

  border: 1px solid rgba(165, 165, 165, 0.742);
  border-radius: 10px;

  padding: 10px;

  width: 400px;
  height: 300px;
}

.menu-panel-form textarea:focus {
  border: 1px solid rgb(86, 176, 255);
}

.menu-panel-form input:focus {
  border: 1px solid rgb(86, 176, 255);
}

.menu-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 13px;

  height: 60px;
}

.menu-buttons button {
  all: unset;
  color: rgba(0, 0, 0, 0.838);
  font-weight: 700;

  cursor: pointer;
}

/* ADD PROMPT BUTTON */

.add-prompt {
  background-color: rgb(247,212,76);
  border-radius: 100px;
  padding: 25px;

  width: 60px;
  height: 60px;

  font-size: 23px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family:'Times New Roman', Times, serif;

  /* overflow: hidden; */
}

.add-prompt-container {
  position: absolute;
  right: 25px;
  bottom: 25px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

#add-single-prompt {
  font-family: 'Lexend Deca', sans-serif;
  background-image: url('../icons/prompt.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
#add-stack-prompt {
  font-family: 'Lexend Deca', sans-serif;
  background-image: url('../icons/stack.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

#add-single-prompt:hover::after {
  background-color: black;
  content: "Add Prompt";
  color: rgb(255, 255, 255);
  font-size: 17px;
  min-width: 100px;

  position: relative;
  right: 90px;

  border-radius: 10px;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

#add-stack-prompt:hover::after {
  background-color: black;
  content: "Add Stack";
  color: rgb(255, 255, 255);
  font-size: 17px;
  min-width: 85px;

  position: relative;
  right: 90px;

  border-radius: 10px;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

/* PROMPT SIDEBAR */

.prompt-sidebar {
  background-color: rgb(231,220,244);
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.ps-header {
  width: 95%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ps-back-button {
  width: 35px;
  height: 35px;

  background-image: url(../icons/back.png);
  background-size: cover;

  transform: rotate(180deg);
}

.ps-title {
  font-size: 23px;
}

.ps-buttons {
  display: flex;
  gap: 20px;

  font-family: 'Lexend Deca', sans-serif;

  margin-right: 3px;
}

.ps-content {
  /* outline: 1px solid red; */
  width: 95%;
  height: 90%;

  position: relative;

  display: flex;
  flex-direction: column;

  font-family: 'Inconsolata', monospace;
}

.ps-content-title {
  background-color: white;

  height: 40px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  align-items: center;

  padding-left: 17px;
  font-size: 27px;

  font-weight: bolder;
}

.ps-content-subtitle-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  background-color: white;  
  padding-left: 17px;
  padding-right: 17px;

  font-size: 21px;
  font-weight: bolder;
}

.ps-content-playback {
  display: flex;
  gap: 7px;
  height: 40px;

  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 21px;
  font-weight: bolder;
}

.ps-content-textarea {
  
  all: unset;
  /* outline: 1px solid blue; */

  width: calc(100% - 34px);
  height: calc(100% - 120px);
  padding: 17px;
  padding-top: 0px;
  padding-bottom: 0px;

  font-size: 21px;

  background-color: white;

  color: rgba(0, 0, 0, 0.757);
}