@keyframes fadeIn { 
    0% {
      opacity: 0;
      transform: translateY(3px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}

.loading {
    z-index: 1;

    width: 100%;
    min-height: 100%;
}
  
.loading::after {
    content: "";
    display: flex;

    width: 100%;
    min-height: 1.37rem;

    background-image: url("../icons/svg-loaders/grid_black.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.31rem;

    justify-content: center;
    align-items: center;
}

/** HEADER */

.header {
    display: flex;

    min-height: 3.75rem;

    margin-bottom: 1.4rem;

    font-family: 'Lexend Deca', sans-serif;
    font-weight: bolder;

    align-items: center;
    justify-content: center;
}
  
.header-title {
    font-size: 1.44rem;
}

/** MAIN CONTENT */

.cards-wrapper {
    overflow: auto;
    display: flex;

    padding: 0 0.94rem;
    padding-bottom: 5rem;
  
    flex-direction: column;
    gap: 1rem;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
  
.cards-wrapper::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.grid-favs {
    display: flex;

    flex-direction: column;
    gap: 1.3rem;
}

.favs-title {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size: 1.31rem;
    text-indent: 0.1rem;
    color: rgba(0, 0, 0, 0.776);
}

.grid {
    position: relative;
    overflow: visible;

    column-gap: 0.94rem;
    columns: 21.87rem auto;
}



.divisor-grid {
    outline: 1px solid rgba(0, 0, 0, 0.041);
    width: 90%;
    position: relative;
}

/** ADD BUTTON */

.add-card-container {
    position: absolute;
    right: 1.56rem;
    bottom: 1.56rem;
  
    display: flex;
    flex-direction: column;
    gap: 0.62rem;
}

#add-single-prompt {
    font-family: 'Lexend Deca', sans-serif;
    background-image: url('../icons/prompt.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;

}
  
#add-stack-prompt {
    font-family: 'Lexend Deca', sans-serif;
    background-image: url('../icons/stack.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
  
#add-single-prompt:hover::after {
    background-color: black;
    content: "Add Prompt";
    color: rgb(255, 255, 255);
    font-size: 1.06rem;
    min-width: 6.25rem;
  
    position: relative;
    right: 5.62rem;
  
    border-radius: 0.62rem;
    padding: 0.19rem;
    padding-left: 0.37rem;
    padding-right: 0.37rem;
}
  
#add-stack-prompt:hover::after {
    background-color: black;
    content: "Add Stack";
    color: rgb(255, 255, 255);
    font-size: 1.06rem;
    min-width: 5.31rem;
  
    position: relative;
    right: 5.62rem;
  
    border-radius: 0.62rem;
    padding: 0.19rem;
    padding-left: 0.37rem;
    padding-right: 0.37rem;
}

.add-prompt {
    background-color: var(--add-ai);
    border-radius: 6.25rem;
    padding: 1.56rem;
  
    width: 3.75rem;
    height: 3.75rem;
  
    font-size: 1.44rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-family:'Times New Roman', Times, serif;
    -webkit-user-select:none;
    user-select: none
    
}

@media (max-width: 1600px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 912px) and (orientation: portrait) {
}
@media (max-width: 500px) and (orientation: portrait) { 
}