
.loading {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(14,14,14);
}

.loading::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-image: url("../icons/svg-loaders/rings.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 71px;
}

.main {
    height: 100vh;
    width: 100vw;
  
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: column;
  
    position: relative; 
  
    width: 100%; /* ??? */
    max-width: 100%;
  
    /* background-color: rgb(242,238,233); */
    background-color: var(--main-content);
  }

.opt-mode {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.779);
    top: 0px;
    left: 0px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ====================================================================================== */

/* .main {
  height: 100vh;
  width: 100vw;
}

.main-content {
  width: 100%; 
} */

@media (max-width: 1600px) {
  .main {
    height: 100dvh;
    width: 100vw;
  }
  
  .main-content {
    width: 100%; 
  }
}

@media (max-width: 1366px) {
  .main {
    min-height: 100dvh;
    width: 100vw;
  }
  
  .main-content {
    width: 100%; 
  }
}

@media (max-width: 912px) and (orientation: portrait) {
}

@media (max-width: 500px) and (orientation: portrait) {
  .main-content {
    min-width: calc(100% - 51px);
    height: 100vh;
    height: 100dvh;
  }
}