@keyframes fadeIn { /* ADAPTAR */
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}


.prompt {
    background: rgb(255, 255, 255);
    margin-bottom: 15px;
    border-radius: 12px;
    padding: 25px;
    padding-bottom: 0px;
    overflow: hidden;
    white-space: pre-line;
  
    font-family: 'DM Sans', sans-serif;
  
    /* min-width: 550px;
    max-width: 465px; */
  
    color: rgba(49, 49, 49, 0.862);
    animation: fadeIn 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

    
    -webkit-user-select:none;
    user-select: none;
}

.selected {
    outline: 1px solid rgb(31, 150, 255);
}

.title {
    font-size: 17px;
    font-weight: bolder;
    margin-bottom: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

.content { /* ADAPTAR */
    padding-bottom: 15px;
    /* height: 100px;
    max-height: 100px; */
    overflow: hidden;
}

.options {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
    /* ADAPTAR */
    margin-top: 15px;
}

.delete {
    background-image: url('../icons/del-off-black.png');
    background-size: cover;
    height: 23px;
    width: 23px;
  
    opacity: 10%;
}
  
.fav {
    background-image: url('../icons/fav-off-black.png');
    background-size: cover;
    height: 23px;
    width: 23px;
  
    opacity: 10%;
}

.edit {
    background-image: url('../icons/edit-black.png');
    background-size: cover;
    height: 22px;
    width: 22px;
  
    opacity: 10%;
}
  
.fav-on {
    opacity: 70%;
    background-image: url('../icons/fav-on.png');
}
  
.delete:hover {
    background-image: url('../icons/del-on.png');
    opacity: 100%;
}

.fav:hover {
    background-image: url('../icons/fav-on.png');
    opacity: 100%;
}

.edit:hover {
    opacity: 100%;
}

/* ======================================================================== */


/* .prompt {
    margin-bottom: 15px;
    border-radius: 12px;
    padding: 25px;
    padding-bottom: 0px;
  
    min-width: 350px;
    max-width: 465px;
  
  
    font-size: 19px;
}

.title {
    font-size: 17px;
    margin-bottom: 15px;
}

.content {
    padding-bottom: 15px;
}

.options {
    margin-bottom: 20px;
    gap: 15px;
}

.delete {
    height: 23px;
    width: 23px;
    opacity: 10%;
}
  
.fav {
    height: 23px;
    width: 23px;
}

.edit {
    height: 22px;
    width: 22px;
} */

@media (max-width: 1600px) {
    .prompt {
        margin-bottom: 12px;
        border-radius: 10px;
        padding: 21px;
        padding-bottom: 0px;
      
        /* min-width: 292px;
        max-width: 387px; */
      
      
        font-size: 16px;
    }
    
    .title {
        font-size: 14px;
        margin-bottom: 12px;
    }
    
    .content {
        padding-bottom: 12px;
    }
    
    .options {
        margin-bottom: 17px;
        gap: 12px;
    }
    
    .delete {
        height: 19px;
        width: 19px;
        opacity: 10%;
    }
      
    .fav {
        height: 19px;
        width: 19px;
    }
    
    .edit {
        height: 18px;
        width: 18px;
    }
}

@media (max-width: 1366px) {
    .prompt {
        margin-bottom: 11px;
        border-radius: 9px;
        padding: 18px;
        padding-bottom: 0px;
      
        /* min-width: 248px;
        max-width: 330px; */
      
      
        font-size: 13px;

        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }
    
    .title {
        font-size: 12px;
        margin-bottom: 11px;
    }
    
    .content {
        padding-bottom: 11px;
    }
    
    .options {
        margin-bottom: 14px;
        gap: 11px;
    }
    
    .delete {
        height: 17px;
        width: 17px;
        opacity: 10%;
    }
      
    .fav {
        height: 17px;
        width: 17px;
    }
    
    .edit {
        height: 16px;
        width: 16px;
    }
}

@media (max-width: 912px) and (orientation: portrait) {
}

@media (max-width: 500px) and (orientation: portrait) {
    .prompt {
        min-width: 100%;
        border-radius: 15px;
    }
}